.section_head{
    background-color: #E9F1FA;
    text-align: center;
    font-size: xx-large;
}

#photo_head{
   margin-left: auto;
   margin-right: auto;
   width: 20%;
   display: block;
    
}


.background_color{
    background-color: #E9F1FA;

}



.int_image{

max-width: 450px;
height: auto;
margin-right: 20px;
}


.left{
    display: flex;
    justify-content: space-between;
}

.right{
    flex-grow: 1;
}

.footer{
    height: 35px;
}
